{% extends 'base.html.twig' %}

{% form_theme serie_form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <h1>TEST FORM</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            {{ form(serie_form) }}
        </div>
    </div>
{% endblock %}